@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header {
  height: 10vh;
}

.App-header p {
  color: whitesmoke;
  font-size: 5vh;
  line-height: 10vh;
}

.App-header-user {
  height: 10vh;
}

.App-header-user-col {
  height: 10vh;
}

.App-content {
  padding-top: 20vh;
  min-height: 85vh;
}

.App-footer {
  height: 5vh;
  font-size: 2vh;
  line-height: 5vh;
  padding: 0 0;
}
